{% extends 'base.html.twig' %}

{% block body %}

<p>Bienvenue sur l'accueil ! </p>

    {% for u in users %}

    <div class="card">
        <p>{{ u.firstname }} {{ u.lastname }}</p>
        <p>{{ u.status }}</p>
    </div>
    {% endfor %}

{% endblock %}
