<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        {% block header %} Navigation here ! {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %} Footer goes here ! {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
