{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-container">
        <div class="form-title-div">
            <img class="form-img cadre-left" src="{{ asset('dist/imgs/cadre-left.svg') }}">
            <h1 class="h3 mb-3 font-weight-normal form-title">Envoyer une missive</h1>
            <img class="form-img cadre-right" src="{{ asset('dist/imgs/cadre-right.svg') }}">
        </div>
        {{ form(form) }}
    </div>

{% endblock %}