{% extends 'base.html.twig' %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; display: flex; justify-content: space-evenly}
    .card { width: 40%; border: black thin solid; padding: 10px; margin: 20px}
</style>



    <h1> Les dernières news</h1>

    <div class="example-wrapper">

    {% for art in articles %}
    <div class="card">
        <div class="card-header">
            <h3>{{ art.title }}</h3>
            <hr>
        </div>
        <div class="card-body">
            <p>{{ art.text }}</p>
        </div>
        <div class="card-footer">
            <blockquote>{{ art.author.firstname }} {{ art.author.lastname }}</blockquote>
        </div>
    </div>
    {% endfor %}


</div>
{% endblock %}
